.card {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px; 
  border: none;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
/* .card-content{
  display: inline-flex;
  
} */


.card-header {
  background-color: #e9ecef;
  border-bottom: none;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-style: italic;
  font-family: cursive;
  text-align: center;

}
.author-name{
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: left;
  transition: transform 0.1s ease;
}
.author-name:hover {
  transform: scale(1.1);
}

/* .card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
} */

.btn-primary {
  float: right;
  background-color: #ce8ac5;
  border-color: #ce8ac5;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c73371;
  border-color: #c73371;
}


.full-content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .card-title {
    font-size: 1.5rem;
  }
}
