<!-- <app-header></app-header>
<div class="row-8">
    <div class="col-md-4" *ngFor="let article of articles;">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-header">{{ article.postCategory }}</h5>
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <button class="btn btn-primary" (click)=showFullContent(article.postId)>
            Read full article
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <app-articles></app-articles>