/* header.component.css */

.navbar {
    background-color: #ddb188;
    padding: 10px 20px;
    /* display: inline-block; */
  }
  
  .navbar-brand {
    color: #4e3e3e;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
  }
  
  .navbar-brand:hover {
    color: #ae7ee6;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-left: 15px;
    display: inline-flex;
  }
  
  .nav-item .nav-link {
    /* color: #fff; */
    font-size: 20px;
    text-decoration: none;
    font:bold;

  }
  
  .nav-item .nav-link:hover {
    color: #ae7ee6;
  }
  