.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}

#title{
 margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.text-area.ng-invalid.ng-touched{
  border: 1px solid red;    
}
.help-block{
  color: red;
}

.article-form {
  margin-top: 20px;
  padding: 20px 100px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 16px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  width: 93%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
}

button[type="submit"] {
  background-color: #00ab6c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
