<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h2 class="text-center mb-4">Signup</h2>
        <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
            <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email" name="email" required email #emailRef="ngModel">
            <span class="help-block" *ngIf="!emailRef.valid && emailRef.touched">Please enter a valid email!</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password" name="password" required minlength="5" #passwordRef="ngModel">
            <span class="help-block" *ngIf="!passwordRef.valid && passwordRef.touched">Please enter a password with min length 5</span>
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name" required [(ngModel)]="firstName" name="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name" required [(ngModel)]="lastName" name="lastName">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Enter something about yourself" required [(ngModel)]="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="profilePic">Add Profile Pic</label>
            <div class="input-group">
              <input type="url" class="form-control" id="profilePic" placeholder="Enter image URL" required [(ngModel)]="profilePic" name="profilePic" #profilePicRef="ngModel">
              <span class="help-block" *ngIf="!profilePicRef.valid && profilePicRef.touched">Please enter an image url as profile pic</span>
              <!-- <div class="input-group-append">
                <span class="input-group-text" id="profilePicAddon"><i class="fas fa-image"></i></span>
              </div> -->
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!signupForm.valid">Signup</button>
        </form>
        <div style="color : red" *ngIf='error'>{{error}}</div>
      </div>
    </div>
  </div>
  