<app-header></app-header>

<div class="container" style="max-width: 1231px;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <h5 class="card-subtitle mb-4 text-muted">{{ article.postCategory }}</h5>
          <div class="card-text post-content">
            {{ article.postContent }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="add-comment">
  <app-comment [article]="article"></app-comment>

</div>
<div class="row-8 comments">
  <div class="col" *ngFor="let comment of article.comments;">
    <div class="comments-card mb-4">
      <div class="card-body">
      <p class="card-content">{{ comment.commentDesc }}</p>
      <p class="author-name" (click)="getAuthor(comment.user.email)">{{ comment.user.userFirstName}} {{ comment.user.userLastName }}</p>
      <p class="author-email">{{comment.user.email}}</p>
      </div>
    </div>
  </div>
</div>