<app-header></app-header>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <h5 class="card-subtitle mb-4 text-muted">{{ article.postCategory }}</h5>
          <div class="card-text post-content">
            {{ article.postContent }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-primary" (click)=addComment()>
    Add Comment
  </button> -->
</div>

<app-comment [article]="article"></app-comment>
<div class="row-8">
  <div class="col-md-4" *ngFor="let comment of article.comments;">
    <div class="card mb-4">
      <div class="card-body">
      <p class="card-content">{{ comment.commentDesc }}</p>
      <h5 class="author-name" (click)="getAuthor(comment.user.email)">Author: {{ comment.user.userFirstName}} {{ comment.user.userLastName }}</h5>
      <h5 class="author-email">Author Email: {{comment.user.email}}</h5>
      </div>
    </div>
  </div>
</div>