<app-header></app-header>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <h5 class="card-subtitle mb-4 text-muted">{{ article.postCategory }}</h5>
          <div class="card-text post-content">
            {{ article.postContent }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
