<app-header></app-header>
<div class="user-profile">
    <div class="user-photo">
      <img [src]="user.userPhoto" alt="User Photo">
    </div>
    <div class="user-details">
        <div class="user-info">
            <div class="user-name">{{ user.userFirstName }} {{ user.userLastName }} 
              <button *ngIf="notSelf" (click)="followUnfollow(user.userId)">{{isFollowing ? 'Unfollow':'Follow'}}</button>
            </div>
            <div class="user-email">{{ user.email }}</div>
            <div class="user-description">{{ user.userDesc }}</div>
        </div>      
    </div>
    <div class="follow-details">
      <div class="followers-info">
        <button class="btn btn-primary">Followers</button>
        <div class="followers">{{ followersCount }}</div>
      </div>
      <div class="following-info">
        <button class="btn btn-primary">Following</button>
        <div class="following">{{ followingCount }}</div>
      </div>
    </div>  
</div>
<div class="row-8">
    <div class="col-md-4" *ngFor="let article of articles;">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-header">{{ article.postCategory }}</h5>
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <button class="btn btn-primary" (click)=showFullContent(article.postId)>
            Read full article
          </button>
        </div>
      </div>
    </div>
  </div>
