<app-header></app-header>
<div class="card">
  <div class="user-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="user-photo">
          <img [src]="user.userPhoto" alt="User Photo">
          <div class="user-name">
            {{ user.userFirstName }}
          </div>
        </div>
      
          <button class="follow-button" *ngIf="notSelf" (click)="followUnfollow(user.userId)">{{ isFollowing ? 'Unfollow' : 'Follow' }}</button>
      </div>
      <div class="col-md-8">
        <div class="user-details">
          <div class="user-info">
            <div class="user-name">Full Name : 
              {{ user.userFirstName }} {{ user.userLastName }}
            </div>
            <div class="user-email">Email : {{ user.email }}</div>
            <div class="user-description">About me : {{ user.userDesc }}</div>
          </div>
        </div>
        <div class="follow-details">
          <div class="followers-info">
            <p class="follower-heading">Followers</p>
            <div class="followers">{{ followersCount }}</div>
          </div>
          <div class="following-info">
            <p class="following-heading">Following</p>
            <div class="following">{{ followingCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row-8 articles">
    <div class="col" *ngFor="let article of articles;">
      <div class="articles-card mb-4">
        <div class="card-body">
          <h5 class="card-header">{{ article.postCategory }}</h5>
          <h2 class="card-title">{{ article.postTitle }}</h2>
          <button class="btn btn-primary" (click)=showFullContent(article.postId)>
            Read article
          </button>
        </div>
      </div>
    </div>
  </div>

